<header class="navbar" data-navbar>
  <a class="brand" href="/">
    <span class="brand-mark">Py</span>
    <span class="brand-name">{{ store.name }}</span>
  </a>

  <button class="menu-toggle" type="button" aria-label="Open navigation" aria-expanded="false" data-menu-toggle>
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav class="nav-links" data-nav-menu>
    <a href="/">Home</a>
    <a href="/store">Store</a>
    <a href="/#products">Tools</a>
    <a href="/#support">Support</a>
  </nav>
</header>
